<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
    <header>
      <% include partials/_header %>
    </header>
    <div>
        <div class="url-group">
          <a href="/u/<%= shortURL %>"><%= shortURL %></a>: <%= urls[shortURL] %>
        </div>
        <form method="POST" action="/urls/<%= shortURL %>" class="body-form">
            <input id="longURL" type="text" name="longURL" placeholder="http://" value="<%= urls[shortURL] %>">
            <input type="submit" value="Edit">
          </form>
    </div>
</body>
</html>