<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/_head %>
</head>
<body>
    <!-- Add your EJS code here -->
    <header>
      <% include partials/_header %>
    </header>
    <ul class="urls-list">
      <% for (var url in urls) { %>
        <li>
          <a href="/urls/<%= url %>"><%= url %></a>: <%= urls[url] %>

          <a href="/urls/<%= url %>">Edit</a>
          <form method="POST" action="/urls/<%= url %>/delete">
            <input type="submit" value="Delete">
          </form>


        </li>
      <% } %>
    </ul>
</body>
</html>