<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <header>
      <% include partials/_header %>
    </header>
    <ul>
      <% for (var url in urls) { %>
        <li style="margin-bottom: 20px; display: flex;">
          <a href="/urls/<%= url %>"><%= url %></a>: <%= urls[url] %>

          <a href="/urls/<%= url %>">Edit</a>
          <form method="POST" action="/urls/<%= url %>/delete" style="display: inline-block">
            <input type="submit" value="Delete">
          </form>


        </li>
      <% } %>
    </ul>
</body>
</html>