<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
    <header>
      <% include partials/_header %>
    </header>
    <main>
        <% if (user_id === urls[shortURL].userId) {%>
        <div class="url-group">
          <a href="/u/<%= shortURL %>"><%= shortURL %></a>: <%= urls[shortURL].url %>
        </div>
        <form method="POST" action="/urls/<%= shortURL %>" class="body-form">
            <input id="longURL" type="text" name="longURL" placeholder="http://" value="<%= urls[shortURL].url %>">
            <input type="submit" value="Edit">
          </form>
        <%} else {%>
        <p>You do not have acess to view this url</p>
        <a href="/urls">View your urls</a>
        <% };%>
    </main>

</body>
</html>